@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  font-family: "Lato", sans-serif;
  background-color: #ebffc4;

}

.container {
  margin: auto;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.css-drawing {
  display: flex;
  flex-direction: row-reverse;
  width: 400px;
  height: 350px;
}

.avocado-body-right {
  position: relative;
  left: -3%;
  top: 5%;
  height: 50%;
  width: 30%;
  background: #CDE06D;
  border-radius: 50% 50% 50% 50%;
  border: 20px solid #9FCD65;
  box-shadow: 0 0 0 1px #3C632B;
}
.avocado-body-right .shell {
  margin-left: -10%;
}
.avocado-body-right .shadow {
  left: 15px;
}
.avocado-body-right .mouth {
  left: 47%;
}
.avocado-body-right .blush-l, .avocado-body-right .blush-r {
  top: 75.5%;
}
.avocado-body-right .blush-l {
  left: 22%;
}

.avocado-seedless {
  position: absolute;
  overflow: hidden;
  bottom: 8%;
  left: 17.5%;
  background: #9FCD65;
  border: 3px solid #9acb5d;
  width: 65%;
  height: 47%;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.avocado-seedless .highlight {
  background: #9FCD65;
  opacity: 1;
}
.avocado-seedless .highlight-cover {
  background: #CDE06D;
  transform: rotate(0deg);
  width: 95%;
  height: 95%;
  top: 22%;
  left: -15%;
}

.avocado-body {
  position: relative;
  top: 5%;
  height: 50%;
  width: 30%;
  background: #CDE06D;
  border-radius: 50% 50% 50% 50%/75% 75% 40% 40%;
  border: 20px solid #9FCD65;
  box-shadow: 0 0 0 1px #3C632B;
}

.shell {
  position: absolute;
  z-index: -1;
  background: #3C632B;
  margin-left: -34%;
  margin-top: -11%;
  width: 143%;
  height: 113%;
  border-radius: 50% 50% 50% 50%/65% 75% 30% 30%;
  animation: bounce 1.5s ease-in infinite;
}

.avocado-face {
  position: absolute;
  width: 90%;
  height: 40%;
  top: 0;
}

.circle-eyes {
  background: #2B1E13;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 35%;
  margin-top: 42%;
}
.circle-eyes:before {
  content: "";
  position: absolute;
  right: 20%;
  width: 10px;
  height: 10px;
  background: #2B1E13;
  border-radius: 50%;
}

.smiley-eyes {
  border-radius: 50%;
  width: 10px;
  position: relative;
  height: 10px;
  margin-left: 30%;
  margin-top: 41%;
  border: 3px solid;
  border-color: #2B1E13 transparent transparent #2B1E13;
  transform: rotate(45deg);
}

.right {
  position: absolute;
  right: 22%;
  top: 0;
}

.blush-l, .blush-r {
  position: absolute;
  opacity: 0.7;
  width: 15px;
  height: 8px;
  background: #EDB6B6;
  border-radius: 50%;
  top: 78%;
}

.blush-l {
  left: 27%;
}

.blush-r {
  right: 12%;
}

.mouth {
  position: absolute;
  top: 70%;
  left: 52%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.happy {
  border: 3px solid;
  border-color: transparent #2B1E13 #2B1E13 transparent;
  transform: rotate(45deg);
}

.avocado-seed {
  position: absolute;
  bottom: 8%;
  left: 17.5%;
  background: #98602D;
  border: 4px solid #704F31;
  width: 65%;
  height: 47%;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

.highlight {
  height: 80%;
  width: 80%;
  opacity: 0.7;
  background: #FFFFFF;
  position: absolute;
  left: 13%;
  top: 14%;
  transform: rotate(8deg);
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

.highlight-cover {
  position: absolute;
  width: 80%;
  height: 95%;
  left: 6%;
  background: #98602D;
  transform: rotate(20deg);
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

.highlight-circle {
  position: absolute;
  background: #FFFFFF;
  width: 5px;
  height: 12px;
  right: 15px;
  opacity: 0.7;
  top: 19px;
  border-radius: 50%;
  transform: rotate(-20deg);
}

.shadow {
  width: 90%;
  height: 15%;
  background: #C8CEC2;
  opacity: 0.7;
  box-shadow: 2px 2px 10px rgba(200, 206, 194, 0.3);
  border-radius: 50%;
  position: absolute;
  z-index: -3;
  bottom: -21%;
  transform: rotate(1deg);
  animation: scale 1.5s ease-in infinite;
}

.fa-heart {
  color: #EDB6B6;
  font-size: 1.5em;
  animation: scale 1.5s ease-out infinite;
}

h1 {
  margin-top: -70px;
  z-index: 3;
  text-transform: uppercase;
  color: #EDB6B6;
  letter-spacing: 4px;
  font-size: 1.2em;
}

i {
  font-size: 1.3em;
}

@keyframes bounce {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding: 5px;
  font-family: "Lato", sans-serif;
}
footer p {
  letter-spacing: 3px;
  font-size: 10px;
  color: #9FCD65;
}
footer a {
  color: #EDB6B6;
  text-decoration: none;
}
footer a:hover {
  color: #3C632B;
}
